*{
      margin: 0px;
      padding: 0px;
}

body{
      margin: 5%;
      background: url('../img/madera.webp');
}
#cuerpo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Asap', sans-serif;
}

div#general{
      margin: auto;
      width: 930px;
      height: 480px;
      border-radius: 25px;
      background-color: #ffff;
}

div#score{
      width: 100%;
      margin: auto;
      margin-top: 25px ;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 220%;
}

div#result{
      margin: auto;
      margin-top: 30px;
      margin-left: 30px;
      border-radius: 20px;
      width: 400px;
      height: 340px;
      float: left;
      background: url('../img/ss.png') 890px 400px;
}

div#play{
      margin: auto;
      margin-top: 25px;
      display: flex;
      width: 100%;
}

div#ganar{
      display: flex;
      flex-direction: column;
      width: 45%;
      align-items: center;
}

div#perder{
      display: flex;
      flex-direction: column;
      width: 80%;
      align-items: center;
}

div#intento{
      display: flex;
      flex-direction: column;
      width: 45%;
      align-items: center;
}

.perder{
      color: aquamarine;
}

.ganar{
      color: aquamarine;
}

#h1{
      font-size: 1.3em;
}

div#form{
      width: 450px;
      margin: auto;
      color: #ffff;
      margin-top: 30px;
      margin-left: auto;
      margin-right: 30px;
      float: right;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: url('../img/ss.png') 550px 600px;
      height: 340px;
}

div#casil{
      margin: auto;
      margin-left: 10px;
      margin-right: 10px;
}

.labe{
      margin: auto;
      margin-top: 10px;
      display: flex;
      align-self: center;
      justify-content: center;
      margin-bottom: 3%;
}
label{
      font-size: 20px;
      font-family: 'Asap', sans-serif;
}
.btn:hover{
      transition: 0.5s;
      border-radius: 35px;
}
#inpu{
      display: flex;
      margin-left: 35px;
      align-self: center;
      justify-content: center;
      flex-direction: column;
      margin-right: 10px;
}

input{
      font-family: 'Asap', sans-serif;
      margin: 0 auto;
      height: 2em;
      width: 200px;
      margin-bottom: 5%;
      border-radius: 10px;
}
.termina{
      display: flex;
      justify-content: center;
      margin-top: 7%;
}

.moneda{
      margin-top: 45px;
      width: 8em;
      height: 8em;
      transform-style: preserve-3d;
}
.moneda div{
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      position: absolute;
}
.moneda{
      width: 10em;
      height: 10em;  
      margin-left: 20%;  
}
.moneda div{
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
}
.cara{
      border-radius: 50%;
      background: url('../img/cara.png');
      background-size: contain;
     
}
.sello{
     background: url('../img/sello.png');
     background-size: contain;
      border-radius: 50%;
      transform: rotateY(-175deg);
}
.animate{
      animation: flipHeads 600s; 
}

@keyframes flipHeads{
      from{
            transform: rotateY(0deg);
      }
      to{
            transform: rotateY(95000deg);
      }
}

@media screen and (min-width: 480px) {
      .conten{
            display: flex;
            flex-direction: column;
            width: 25em;
            box-shadow: 1px 1px 9px black;
            border: none;
            padding: 5%;
      }
      #inpu{
            display: flex;
            align-self: center;
            justify-content: center;
            flex-direction: column;
            width: 84.5%;
      }
      .moneda{
            width: 10em;
            height: 10em;  
            margin-left: 30%;  
            transform-style: preserve-3d;   
      }    
}
@media screen and (min-width: 720px) {
      .conten{
            display: flex;
            flex-direction: column;
            width: 35em;
            box-shadow: 1px 1px 9px black;
            border: none;
            padding: 5%;
      }
      #inpu{
            display: flex;
            align-self: center;
            justify-content: center;
            flex-direction: column;
            width: 84.5%;
      }
      .moneda{
            width: 10em;
            height: 10em;  
            margin-left: 36%;  
            transform-style: preserve-3d;   
      }     
}
@media screen and (min-width: 1024px) {
      .conten{
            display: flex;
            flex-direction: column;
            width: 38em;
            box-shadow: 1px 1px 9px black;
            border: none;
            padding: 5%;
      }
      #inpu{
            display: flex;
            align-self: center;
            justify-content: center;
            flex-direction: column;
            width: 84.5%;
      }
      .moneda{
            width: 10em;
            height: 10em;  
            margin-left: 36%;  
            transform-style: preserve-3d;   
      }   
}
@media screen and (min-width: 1200px) {
      .conten{
            display: flex;
            flex-direction: column;
            width: 38em;
            box-shadow: 1px 1px 9px black;
            border: none;
            padding: 5%;
      }
      #inpu{
            display: flex;
            align-self: center;
            justify-content: center;
            flex-direction: column;
            width: 84.5%;
      }
      .moneda{
            width: 10em;
            height: 10em;  
            margin-left: 36%;  
            transform-style: preserve-3d;   
      }   
}
